<style type="text/css">	
			p {
				text-indent: 1.5em;
			}
			
			#titulo {
				text-align: left;
			}
			
			#cabecera {
				position: float;
				float: left;
			}
						
			#foto {
				height: 100%;
				width: 15%;
				position: float;
				float: left;
				padding-right: 1%;
			}
			
			#introduccion {
				width: 92%;
				position: float;
				float: top;
			}
			
			#texto {
				text-align: left;
				position: float;
				float: left;
			}
		</style>
<h1 id="titulo">Créditos</h1>
		
<div id="cabecera">
<div id="foto"><img src="http://historiamundo.com/wp-content/uploads/2010/08/julio-cesar-300x297.jpg" alt="Foto carnet" height="95%" width="95%"> </div>
<div id="introduccion"><p>Cayo Julio César (latín: Gaius Iulius Caesar)nota 1 (Roma, Italia, 12/13 de julio de 100 a. C.nota 2 -ibídem, 15 de marzo de 44 a. C.) fue un líder militar y político de la era tardorrepublicana. Nacido en el seno de la gens Julia, en una familia patricia de escasa fortuna, estuvo emparentado con algunos de los hombres más influyentes de su época, como su tío Cayo Mario, quien influiría de manera determinante en su carrera política. En 84 a. C., a los 16 años, el popular Cinna lo nombró flamen dialis, cargo religioso del que fue relevado por Sila, con quien tuvo conflictos a causa de su matrimonio con la hija de Cinna. Tras escapar de morir a manos de los sicarios del dictador, fue perdonado gracias a la intercesión de los parientes de su madre.1 Trasladado a Asia, combatió en Mitilene como legatus de Marco Minucio Termo. Volvió a Roma a la muerte de Sila en 78 a. C., ejerciendo por un tiempo la abogacía. En 73 a. C. sucedió a su tío Cayo Aurelio Cota como pontífice, y pronto entró en relación con los cónsules Pompeyo y Craso, cuya amistad le permitiría lanzar su propia carrera política.2 En 70 a. C. César sirvió como cuestor en la provincia de Hispania y como edil curul en Roma. Durante el desempeño de esa magistratura ofreció unos espectáculos que fueron recordados durante mucho tiempo por el pueblo.</p><br></div>
</div>
		
<div id="texto">
  <h3>Datos personales</h3>
  <ul>
    <li><strong>Nombre: </strong>Cayo</li>
    <li><strong>Apellidos: </strong>Julio César</li>
    <li><strong>Lugar y fecha de nacimiento: </strong>Roma, 12/13 de Julio de 100 a. C</li>
    <li><strong>Domicilio: </strong>Piazza del Colosseo, 1 00184 (Roma)</li>
  </ul><br>
			
  <h3>Formación académica</h3>
  <ul>
    <li>Licenciado en Filosofía y retórica por la Universidad de Rodas</li>
    <li>Curso experto en Armas y Equitación por la EOL (Escuala Oficial de la Legión) </li>
  </ul><br>
			
  <h3>Experiencia</h3>
  <ul>
    <li> 5 años como Abogado en la ciudad de Roma</li>
    <li> 4 años como Cuestor de Hispania Ulterior</li>
    <li> 2 años como Edil Curul de la ciudad de Roma</li>
    <li> 1 año como Pontifex Maximus en el colegio de Pontífices</li>
    <li> 2 años como Propretor de Hispania Ulterior</li>
    <li> 10 años como Cónsul/Procónsul de Roma</li>
    <li> 5 años como Dictador temporal del Imperio Romano</li>
    <li> 3 meses como Dictador vitalicio del Imperio Romano</li>		
  </ul><br>
			
  <h3>Idiomas</h3>
  <ul>
    <li><strong>Latín: </strong>Nativo</li>
    <li><strong>Griego: </strong>Nivel alto hablado y escrito</li>
    <li><strong>Galo: </strong>Nivel básico hablado y escrito</li>
  </ul><br>
</div>

